/* RECON theme for highlightjs */
/* Adapted from Tomorrow theme: */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */


/* default style */
.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #ffffff;
  padding: 0.5em;
  box-shadow: 5px 5px 10px #888888;
  border-radius: 5px;
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", "Lucida console", "Courier New", monospace;
}

/* comments and quotes */
.hljs-comment,
.hljs-quote {
    color: #b3b3cc;
}

/* red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}

/* light blue */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #b3b3ff;
    /* color: #de935f; */
}

/* RECON Yellow */
.hljs-attribute {
    color: #f0c674;
}

/* pinkish */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  /* color: #b5bd68; */
    color: #d98c8c;
}

/* blue */
.hljs-title,
.hljs-section {
  color: #81a2be;
}

/* purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #b294bb;
    font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}



/* Further CSS customisation */

a:link {
    text-decoration: underline;
    color: #666699;
}

a:visited {
    color: #666699;
}

a:hover {
    font-weight: bold;
    color: #862d59;
}


.entry-categories a:link, .entry-tags a:link {
    padding: 5px;
    background: #f2f2f2;
    border-radius: 10px;
    text-decoration: none;
    font-weight: normal;
			  }


.entry-categories a:hover, .entry-tags a:hover {
    padding: 5px;
    background: #ffe6ee;
    color: #990033;
    border-radius: 10px;
    text-decoration: none;
    font-weight: normal;
}



.question {
    font-style: italic;
    background: #ffe6b3;
    color: #332200;
    border-radius: 5px;    
    padding: 2px 5px 2px 5px;
}



@font-face {
    font-family: 'Sawasdee'; 
    src: url('Sawasdee.eot');
    src: url('Sawasdee.eot?#iefix') format('embedded-opentype'),
    url('Sawasdee.ttf') format('truetype');
}