{{ define "main" }}

<div class="col-md-12 entry">
  <div class="row">
    <div class="col-md-12">
      <div class="entry-meta">
        {{ .Date.Format "January 02" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="entry-header">
       {{ .Title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="entry-sidebar">
        <div class="entry-sidebar-title">CATEGORIES</div>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <div class="entry-categories">
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        </div>
        {{ end }}

        <div class="entry-sidebar-title">Tags</div>
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <div class="entry-tags">
          <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="col-md-10">
      <div class="entry-content">
        {{ .Content }}
      </div>
    </div>
  </div>

  <hr/>
  {{ template "_internal/disqus.html" . }}

</div>
{{ end }}
