<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>{{ partial "head.html" . }}</head>
  <body>
    <div id="root">
      <div class="container-fluid">
        <div class="row site-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 top-navigation">
                {{ partial "topnavigation.html" . }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 header col-md-offset-1">
                {{ partial "header.html" . }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 main-content col-md-offset-1">
               {{ partial "tag.html" . }}
          </div>
        </div>
        <div class="row site-footer">
          <div class="col-md-12">
            {{ partial "footer.html" . }}
          </div>
        </div>
      </div>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
