/* RECON theme for highlightjs */
/* Adapted from Tomorrow theme: */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */


/* default style */
.hljs {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #ffffff;
    padding: 0.5em;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 5px;
    font-size: 14px;
    font-family: Menlo, Monaco, Consolas, "Courier New", "Lucida console", "Courier New", monospace;
}

/* comments and quotes */
.hljs-comment,
.hljs-quote {
    color: #b3b3cc;
}

/* red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #cc6666;
}

/* light blue */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #b3b3ff;
    /* color: #de935f; */
}

/* RECON Yellow */
.hljs-attribute {
    color: #f0c674;
}

/* pinkish */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    /* color: #b5bd68; */
    color: #d98c8c;
}

/* blue */
.hljs-title,
.hljs-section {
    color: #81a2be;
}

/* purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #b294bb;
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}



/* Further CSS customisation for RECON style */

/* fonts */

@font-face {
    font-family: "Sawasdee"; 
    src: url("fonts/Sawasdee.ttf")
	    /* src: url("fonts/Sawasdee.eot"); */
	    /* src: url("fonts/Sawasdee.eot?#iefix") format("embedded-opentype"), */
	    /* url("fonts/Sawasdee.ttf") format("truetype"); */
}

@font-face {
    font-family: "Sawasdee";
    src: url("fonts/Sawasdee-Bold.ttf")
	    font-weight: bold;
}

@font-face {
    font-family: "Sawasdee";
    src: url("fonts/Sawasdee-Oblique.ttf")
	    font-style: oblique;
}

@font-face {
    font-family: "Sawasdee";
    src: url("fonts/Sawasdee-BoldOblique.ttf")
	    font-weight: bold;
    font-style: oblique;
}



/* links */

a:link {
    text-decoration: underline;
    color: #666699;
}

a:visited {
    color: #666699;
}

a:hover {
    font-weight: bold;
    color: #862d59;
}


.question {
    font-style: italic;
    background: #c6c6ec;
    color: #1a1a1a;
    border-radius: 5px;    
    padding: 2px 5px 2px 5px;
}


.entry-header {
    font-family: Sawasdee;
    color: #4d4d4d;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    text-shadow: 2px 2px 6px;
}



.entry-categories a:link,
.entry-tags a:link {
    padding: 5px;
    background: #f2f2f2;
    border-radius: 10px;
    text-decoration: none;
    font-weight: normal;
}


.entry-categories a:hover,
.entry-tags a:hover {
    padding: 5px;
    background: #ffe6ee;
    color: #990033;
    border-radius: 10px;
    text-decoration: none;
    font-weight: normal;
}




.content-title a:link {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: normal;
    text-shadow: 2px 2px 4px;
}


.content-title a:hover {
    padding: 10px 20px 10px 20px;
    color: #990033;
    text-decoration: none;
    font-weight: normal;
}


.title-info a:link,
.title-info a:visited {
    text-decoration: none;
    color: white;
    font-family: Sawasdee;
    font-weight: bold;
    text-transform: none;
}



/* side bars alongside practical pages */

.entry-sidebar .entry-sidebar-title {
    font-family: Sawasdee;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #29293d;
    margin-top: 0.7em;
    padding: 10px 0px 10px 0px;
}




/* header */
.site-header {
    position: relative;
    z-index: 2;
    /* padding: 1.5em 5.55% 2.25em; */
    border-top: solid 0.75em #3d3d5c;
    border-radius: 5px;
}

.categories-block a:link,
.categories-block a:visited {
    padding: 0px 2px 0px 2px;
    text-decoration: none;
    color: white;
}


.social-media-block a:link,
.social-media-block a:visited  {
    text-decoration: none;
    color: white;
}


.categories-block a:hover {
    padding: 0px 2px 0px 2px;
    background: #ffe6ee;
    color: #990033;
    border-radius: 5px;
    color: #990033;
}


.site-header a, .site-footer a {
    opacity: 1;
}




/* title */

.title-logo {
    padding: 40px 10px 10px 10px;
}



/* general config */

body {
    /* background: #d9d9d9; */
    background: white;
}


.category-header a:link,
.category-header a:visited {
    color: #333333;
}


/* content boxes (posts overview) */
.content {
    overflow: hidden;
    margin-bottom: 1.5em;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000000;
}


.content:hover {
    box-shadow: 5px 5px 20px #80002a;
}




/* for pretty, framed, shadowed images serving as a gatway to something else */
.gateway {
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000000;
}



.gateway:hover{
    box-shadow: 5px 5px 20px #80002a;
}