<article class="post-full post"> 
        <header class="post-full-header">
            <h1 class="post-full-title">{{.Title}}</h1>
            <section class="post-full-meta">
                <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
                <span class="date-divider">/</span>
                {{with   .Params.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}.html">{{ . }}</a> &nbsp;
  {{ end }}
            
                {{if .Params.topics }}
                <span class="date-divider">/</span> {{ range  $tag := .Params.topics }}<a href="{{$.Site.BaseURL}}topics/{{ $tag | urlize }}.html">#{{$tag}}</a>&nbsp;{{end}}{{ end }}
            </section>
        </header>
        
         
        <section class="post-full-content">
                <div class="kg-card-markdown">
                {{ .Content }}    
                </div>
            </section>
        
            <footer class="post-full-footer">
              <section class="author-card">
                <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
                <section class="author-card-content">
                        <span class="post-card-author">
                                {{ range .Params.authors }}<a href="/authors/{{ . | urlize }}.html">{{ . }}</a><br>{{ end }}
                              </span>
                </section>
              </section>
            </footer>
        </article>